<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/teide2014?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping class="com.nebur.teide.tienda.modelo.TiendaCategoria"/>
    <mapping class="com.nebur.teide.tienda.modelo.TiendaProductoEnvio"/>
    <mapping class="com.nebur.teide.tienda.modelo.TiendaEnvio"/>
    <mapping class="com.nebur.teide.tienda.modelo.TiendaProductoEnvioId"/>
    <mapping class="com.nebur.teide.tienda.modelo.TiendaTag"/>
    <mapping class="com.nebur.teide.tienda.modelo.TiendaProducto"/>
  </session-factory>
</hibernate-configuration>
